@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap";
@import "https://polaroid7.netlify.app/polaroid.css";

:root {
	--gray: #b1b1b1;
	--white: #ffffff;
	--hover: #45494d;
	--primary-color: #fafafa;
	--secondary-color: #131517;
	--secondary-light-color: #242628;
	--secondary-hover-color: #212325;
	--error-color: #ce3838;
	--success-color: #1fa650;
}

body {
	color: var(--primary-color);
	background-color: var(--secondary-color);
	font-family: "Inter", -apple-system, BlinkMacSystemFont, Inter, Segoe UI,
		Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
		Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

input,
button {
	font-family: inherit;
}

input:focus {
	outline: 2px solid var(--secondary-color);
}

/* navigation */
.navbar {
	background-color: inherit;
	border: 1px solid var(--secondary-light-color);
}

.content {
	max-width: 50rem;
}

.home-container {
	height: calc(100vh - 6.4rem);
}

.cta {
	color: var(--secondary-hover-color);
}

.cta:hover {
	opacity: 0.6;
}

.login-cta:hover {
	color: var(--gray);
}

.primary-cta {
	background: var(--primary-color);
}

.cta-icon {
	font-size: 2rem;
}

.cta:hover .cta-icon {
	transform: translateX(8px);
}

.underline {
	text-decoration: underline;
}

@media screen and (max-width: 767px) {
	html {
		font-size: 54%;
	}

	.home-container {
		height: 100%;
	}
}
